body, html {
	padding: 0;
	margin: 0;
}
.roulette-table {
	margin: 50px;
	background-color: #236437;
	height: 650px;
	text-align: center;
	border-radius: 100px;
	outline: 15px solid white;
	box-shadow: inset 0 0 40px rgb(0, 0, 0);
	padding: 50px 100px 50px 100px;
}
.roulette-table button {
	background-color: transparent;
	width: 15%;
	font-size: 200%;
	height: auto;
	border: 5px solid white;
	border-radius: 2rem;
	margin-top: 30px;
	transition: all 0.3s ease;
}
.roulette-table button:hover {
	background-color: white;
	cursor: pointer;
	color: black;
}
.roulette-table h1 {
	color: white;
	font-size: 400%;
	margin-bottom: 30px;
}
.roulette-container {
	height: 100px;
	width: 100%;
	display: block;
}
.roulette-container .wrap {
	display: block;
	width: 100%;
	height: 100%;
	transition: background-position 10s;
	transition-timing-function: easeOutQuint;
	box-shadow: inset 0 0 40px rgb(0, 0, 0);
	background-image: url(../Files/roulette.png);
	background-repeat: repeat-x;
	min-width: 100%;
	background-size: cover;
	background-position: 0px;
	outline: 10px solid;
	border-radius: 100px;
}
.roulette-container .wrap .controller {
  display: block;
  width: 3px;
  background-color: #fff;
  height: 100%;
  margin: 0 auto;
}
.color-beted {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #424242;
	color: #fff;
	font-weight: bold;
	font-size: 135%;
	border-radius: 100px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
	width: 70px;
	height: 70px;
}
.bet-options-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
	gap: 20px;
}
.bet-option{
	font-size: 125%;
	color: white;
}
.bet-option input {
	border: 5px solid white;
	background-color: transparent;
	border-radius: 2rem;
	width: 150px;
	text-align: center;
}
.bet-option input:focus {
	outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.bet-option select {
	border: 5px solid white;
	background-color: transparent;
	border-radius: 2rem;
	width: 160px;
	height: 42px;
	text-align: center;
}
.bet-option option {
	border: 5px solid white;
	background-color: transparent;
	border-radius: 2rem;
	width: 160px;
	height: 42px;
	text-align: center;
}
.color-picker input[type="radio"] {
    display: none; 
}
.color-option {
    display: inline-block;
    width: 100px;
	height: 42px;
    border: 5px solid white;
    cursor: pointer;
    border-radius: 2rem;
    transition: all 0.3s ease;
    text-align: center;
    font-weight: bold;
}
#color-green:checked + .color-option {
    background-color: green;
    color: white;
    border-color: green;
}
#color-black:checked + .color-option {
    background-color: black;
    color: white;
    border-color: black;
}

#color-red:checked + .color-option {
    background-color: red;
    color: white;
    border-color: red;
}
#bets-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap
}
.color-beted.r {
  background-color: #ff0000;
}

.color-beted.g {
  background-color: #00ff00;
}
.color-beted.b {
  background-color: #000000;
}